// Fonts
$global-font-size: 16;
$navigation-font-size: 14;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Colors
$vue-green:       #42b983;
$vue-blue:        #2c3e50;

$indigo-lighten1: #5c6bc0;
$indigo-darken4:  #1a237e;
$blue-darken2:    #1976d2;
$red-base:        #f44336;
$red-darken2:     #d32f2f;
$amber-darken1:   #ffb300;
$green-darken2:   #388e3c;
$black:           #000000;
$white:           #ffffff;

$primary: $indigo-darken4;
$secondary: $indigo-lighten1;
$accent: $red-base;
$success: $green-darken2;
$error: $red-darken2;
$warning: $amber-darken1;
$info: $blue-darken2;

//Breakpoints
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;
$bp-xl: 1800px;
