@import '../../styles/helpers/_helpers';

.about-container {
  text-align: left;

  .user-list {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: auto;

    li {
      align-self: flex-start;
      flex-grow: 1;
    }
  }

  .errorMessage {
    color: $error;
    font-weight: bold;
  }
}
