@import '../../styles/helpers/_helpers';

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 0;

  .logo {
    height: 10vh;
    align-self: center;
    flex-shrink: 1;

    img {
      max-height: 8vh;
      margin-top: 1vh;
    }
  }
}
